@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0a0b0f;
}
@font-face {
  font-family: head;
  src: url(../../public/font/taku/Taku.ttf);
}
@font-face {
  font-family: sub;
  src: url(../../public/font/revamped/Revamped.otf);
}
@font-face {
  font-family: texts;
  src: url(../../public/font/capture_smallz/Capsmall.ttf);
}

